# horash - dependencias
# server usa apenas stdlib, mas para build .exe:
pyinstaller>=6.0
pywebview>=5.0
# opcional para teste:
# yara-python  # se quiser usar lib ao inves de binario (nao obrigatorio)
playwright>=1.40
